@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Pacifico&display=swap');

/* Coments 

*/

:root {
    --fundo: #92d3ec;
    --fonte: #3d3d3d;
    --fundo-card: #e9e5da;
    --fonte-card: #3d3d3d;
    --fundo-card-hover: #dcd4bf;
    --sombra: white;
    --borda: lightgrey;
    --fundo-claro: #f4f5f0;
    --fonte-hover: #010a8f;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}