

.container {
    max-width: 800px;
    background-color: rgba(241, 238, 202, 0.623);
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}