@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Pacifico&display=swap');

:root {
    --cor-base: #5797c8;
    --cor-fonte: #FFE7DC;
    --cor-secundaria: #F2542D;
}

header {
    max-width: 800px;
    background-color: var(--cor-base);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
}

header h1 {
    margin: 10px auto;
    font-family: 'Pacifico', cursive;
    color: var(--cor-fonte);
}

header h3 {
    margin: 10px auto;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--cor-fonte);
}

iframe {
    background-color: var(--cor-base);
    border-radius: 10px;
    display: flex;
    margin: 10px auto;
}

@media (min-width: 820px) {
    iframe {
        width: 800px;
    }
}

@media (max-width: 819px){
    iframe {
        width: 99.5%;
    }
}

footer {
    max-width: 800px;
    background-color: var(--cor-base);
    color: var(--cor-fonte);
    /* display: flex; */
    margin: 10px auto;
    border-radius: 10px;
}

