@import url(./default.css);

body {
    background-color: var(--fundo-claro);
}

header {
    max-width: 800px;
    background-color: var(--fundo);
    text-shadow: var(--sombra);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
}

header h1, h2 {
    color: var(--fonte);
    text-align: center;
}

header h1 {
    margin: 10px auto;
    font-family: 'Pacifico', cursive;
}

header h2 {
    margin: 0px auto;
    font-family: 'Nunito Sans', sans-serif;
}

iframe {
    background-color: var(--fundo);
    border-radius: 10px;
    display: flex;
    margin: 10px auto;
}

@media (min-width: 820px) {
    iframe {
        width: 800px;
    }
}

@media (max-width: 819px){
    iframe {
        width: 99.5%;

    }
}

footer {
    max-width: 800px;
    background-color: var(--fundo);
    color: var(--fonte);
    /* display: flex; */
    margin: 10px auto;
    border-radius: 10px;
}

.mapa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

details {
    margin: 10px;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

a {
    color: var(--fonte);
}

@media (max-width: 460px) {
    a {
        font-size: 24px;
    }
}

.assinatura {
    margin: 0;
    padding: 10px 5px 5px 10px;
    display: flex;
    justify-content: end;
}