@media screen 
and (min-device-width: 320px)
and (max-device-width: 480px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .container a .img{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}