:root {
    --fundo: #a9dff8;
    --fonte: #0c007a;
    --fonte-card: white;
    --sombra: #fff;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.titulos {
    padding: 5px 40px;
    color: var(--fonte);
}

.container {
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    cursor: pointer;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10px;
}

.face1 {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

#praia1 {
    /* background-image: url("https://a.cdn-hotels.com/gdcs/production118/d1149/9d00c228-206c-4c8d-a570-946ff1b5f450.jpg"); */
    background-size: 300px;
    background-repeat: no-repeat;
}

.card:hover .face.face1 {
    background: var(--fundo);
    transform: translateY(0);
}

.face1 .content {
    opacity: 0.5;
    transition: 0.5s;
}

.card:hover .face.face1 .content {
    opacity: 1;
}

img {
    border-radius: 5px;
    max-height: 160px;
    max-width: 280px;
}

.content h3 {
    margin: 5px 0 0;
    padding: 0;
    color: var(--fonte-card);
    text-align: center;
    font-size: 1.8em;
}

.face2 {
    position: relative;
    background: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.8);
    transform: translateY(-100px)
}

.card:hover .face.face1 {
    border-radius: 10px 10px 0 0;
}

.card:hover .face.face2 {
    transform: translateY(0);
    border-radius: 0 0 10px 10px;
    box-shadow: none;
}

.card:hover h3 {
    color: var(--fonte);
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    border: 1px solid #333;
}

a:hover {
    background: #333;
    color: #fff;
}